.intr_ART {
    margin-top: 37px;
}
.about_txt_title {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    font-size: 24px;
}
.about_png_txt {
    padding: 40px;
    border: 2px solid #998BE2;
    margin-top: 32px;
    border-radius: 23px;
    position: relative;
    margin-bottom: 42px;
} 
.about_png_txt::after {
    content: " ";
    position: absolute;
    left: 100%;
    top: 71px;
    border-top: 37px solid #998be200;
    border-left: 68px solid #998BE2;
}
.about_png_txt::before {
    content: " ";
    position: absolute;
    left: 100%;
    top: 75px;
    border-top: 30px solid #998be200;
    border-left: 57px solid #101420;
    z-index: 2;
}
.about_png {
    justify-content: center;
    background: radial-gradient(49.17% 58.11% at 69.81% 100%,
     rgba(58, 26, 99, 0.4) 0%,
     rgba(42, 156, 184, 0.4) 0.01%, 
     rgba(16, 20, 32, 0) 100%);
    display: flex;
    width: 100%;
    margin: auto;
}
