.intr_item {
    text-align: center;
    line-height: 28px;
}
.introduction {
    margin-top: 0;
}
.introduction p {
    z-index: 1;
    position: absolute;
}
.story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story_item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    max-width: 835px;
    width: 100%;
}
.story_item_info {
    border: 1px solid #998BE2;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.story_item_info p {
    max-width: 375px;
    padding: 10px;
}
.story_attent {
    background-color: #998BE2;
    padding: 27px 74px 37px;
    text-align: center;
}
.story_attent p {
    color: #000000;
}
.founders {
    margin-top: 60px;
    flex-wrap: wrap;
    margin-bottom: 82px;
}
.founders_title {
    display: flex;
    align-items: center;
}
.founders_item {
    display: flex;
    flex: 30%;
    flex-direction: column;
    margin: 15px;
}