
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

@font-face { 
    font-family: "RobotoMonoRegular";
    src: url("../fonts/RobotoMonoRegular/RobotoMonoRegular.eot");
    src: url("../fonts/RobotoMonoRegular/RobotoMonoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMonoRegular/RobotoMonoRegular.woff") format("woff"),
    url("../fonts/RobotoMonoRegular/RobotoMonoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'xx';
    src: url("../fonts/23xx.woff") format("woff"), url("../fonts/23xx.woff2") format("woff2");
    font-weight: normal;
    font-style: normal; }

body {
    font-family: "RobotoMonoRegular";
    background-color:  #101420;
    font-family: "RobotoMono";
    overflow-x: hidden;
}
body a {
    text-decoration: none;
}
p, li {
    color: white;
    list-style-type: none;
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: auto;
}
.nav {
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.id {
    display: flex;
}
.id_active {
    color: #998BE2;
}
.id a {
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    border-right: 1px solid #FFFFFF;
    transition: .3s ease-out;
}
.id p:hover {
    color: #998BE2;
    transition: .3s ease-out;
    animation: glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
}
.id a:last-of-type {
    border: none;
}
.purple {
    color: #5452BD;
}
.introduction {
    margin-top: 74px;
    flex-direction: column;
    align-items: center;
}
.intr_img {
    position: absolute;
    z-index: -1;
}
.radius {
    background: radial-gradient(39.02% 61.01% at 50% 50%,
    rgba(88, 49, 190, 0.35) 0%, rgba(16, 20, 32, 0) 85%);
}
.r_large {
    width: 561px;
    height: 327px;
}
.r_behind {
    position: absolute;
    top: -24px;
    left: -145px;
    z-index: -1;
}
.r_small {
    width: 293px;
    height: 171px;   
}
.r_left {
    position: absolute;
    top: -24px;
    left: -267px;
}
.r_medium {
    width: 437px;
    height: 253px;
}
.r_right {
    position: absolute;
    top: 75px;
    right: -365px;
}
.r_left_bottom {
    position: absolute;
    top: 32px;
    left: -210px;
}
.xx_large {
    font-size: 90px;
    font-family: "xx";
}
.intr_txt_title {
    text-align: center;
    color: white;
}
.intr_item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.xx_small {
    font-family: "xx";
    font-size: 24px;
}
.xx_medium {
    font-family: "xx";
    font-size: 36px;
}
.xx_gold {
    font-family: "xx";
    color: #E5EA44;
}
.jarvis img {
    margin-bottom: 44px;
}
.btn {
    font-family: "xx";
    font-size: 20px;
    color: #000000;
    background: #E5EA44;
    border-radius: 56px;
    padding: 14px 17px;
    transition: .3s ease-out;
}
.btn:hover {
    background: #f8ff07;
    box-shadow: 0px 0px 7px 2px #e5ea44;
}
.footer {
    border-top: 1px solid #998BE2;
    padding: 50px 0;
}
.AVA_footer {
    border: none;
}
.footer_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_form {
    display: flex;
    align-items: center;
}
.form input{
    color: #998BE2;
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #998BE2;
    width: 300px;
    margin-right: 25px;
    transition: .3s ease-out;
    margin-left: 57px;
}
.form input:focus{
    color: #fff;
    border-color: #fff;
}
.footer_btn {
    border: 1px solid #998BE2;
    color: #998BE2;
    padding: 8px;
    font-size: 0.875em;
    transition: .3s ease-out;
}
.footer_btn:hover {
    background: #998BE2;
    color: #fff;
}
.footer_copyright {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
}
.footer_copyright p{
    color: #998BE2;
}
